.container {
  display: flex;
}
.menu {
  height: 130vh;
  width: 24vw;
  background-image: linear-gradient(to right, #294e76, #2e6f82);
}

.main {
  height: 100vh;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
