<div class="image"></div>

<section class="description">
  <strong>OLÁ, JOÃO!</strong>
  <span>01 DE DEZEMBRO DE 2019</span>
</section>

<section class="menu">
  <button>
    <fa-icon [icon]="faChartLine"></fa-icon><span>DASHBOARD</span>
  </button>
  <button><fa-icon [icon]="faClipboard"></fa-icon><span>PAUTAS</span></button>
  <button>
    <fa-icon class="chalkboard" [icon]="faChalkboardTeacher"></fa-icon
    ><span>RELATÓRIOS</span>
  </button>
</section>

<section class="logo">
  <img src="../../assets/nsc_negativo.png" />
</section>
