/* You can add global styles to this file, and also import other style files */
*,
body,
html {
  overflow: hidden;
  outline: none;
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #f1f1f1;
}
